.two-thirds {
    height: auto;
    margin: 4rem auto;
    padding: 0;
    position: relative;
    width: 100%;

    &__container {
        display: flex;
            flex-direction: column;
            @include breakpoint(mobile-min) {
                align-items: center;
                flex-direction: row;
                justify-content: center;
            }
    }

    &__content {
        display: inline-block;
        margin-bottom: .5em;
        padding: 6em 2em;
        max-width: 31rem;
        @include breakpoint(mobile-min) {
            margin-bottom: 0em;
            margin-right: 3.5em;
            width: 100%;
        }
        &:last-of-type {
            margin-bottom: 0em;
            margin-right: 0em;
        }

        :last-child {
            // Removes default margin
            margin-bottom: 0;
        }
    }


    &.aligned-left {
        .two-thirds__container {
            margin-left: 0;
        }
    }

    &.aligned-right {
         .two-thirds__container {
            margin-right: 0;
        }
    }

    &__image {
        width: 50%;
        img {
            max-height: 20em;
            width: 98%;
            vertical-align: bottom;
        }

        div.bg-image {
            max-height: 20em;
            width: 100% !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    }
 
    &.limit-height {
        max-height: 20em;
    }
    &.image-text {
        .half-and-half__content {
            @include breakpoint(mobile-min) {
                margin-left: 3.5em;
            }
        }
    }
}
