.layout-events {

    &__container {
        border: .1em solid gray;
        h2 {
            padding: 0 1rem;
            padding-top: 1em;
        }
    }

    .layout-event {
        border-bottom: .1em solid gray;
        padding: 2em 1rem;
        text-align: justify;

        &__date {
            & > span {
                font-size: 1em;
            }
        }
        &__title {
            h3 {
                margin-bottom: 0;
            }
        }

        &__description {
            margin-top: 1rem;
        }
        &__link {
            margin-top: 1rem;
            a:after {
                background-color: $audubonRed;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
