.layout-slider {
    margin-top: 0; // Override default margin top
    position: relative;
    width: 100%;
    height: 80vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

    &:after {
        background: rgba(0, 0, 0, .6);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__slide {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: none;
        height: 100%;
        width: 100%;

          img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-height: none;
          }
    }
    &__content {
        position: relative;
        z-index: 1;
        display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding: 0 1em;
        h1, h2, h3, h4, h5, h6, p, a {
            color: $white;
        }
    }
    &__slide--image {
          position: absolute;
          width: 100%;
          height: 100%;

}



.slide1 {
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

}
.slide2 {
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
}
