.seventy-fifth-partial {
    margin: 0;
    padding: 0;

    .header-content {
        background-position: center center;
        background-size: cover;
        color: white;
        display: flex;
            align-items: flex-end;
            justify-content: flex-start;
        height: 90vh;
        position: relative;


        &:before {
            content: url('../icons/audubon-seventy-five-years.svg');
            height: auto;
            max-width: 40em;
            position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%,-50%);
            width: 90vw;
            z-index: 1;
            @include breakpoint(mobile-min) {
                width: 68vw;
            }
        }
        &:after {
            background: #723F01;
            content: '';
            height: 90vh;
            width: 100%;
            opacity: .8;
            position: absolute;
            left: 0%;
            top: 0%;
        }

        a {
            color: white;
            margin-bottom: 4em;
            z-index: 1;
        }
    }
    .church-info {
        position: absolute;
        bottom: 3em;
        left: 50%;
        transform: translateX(-50%);
        a {
            color: $white;
        }
    }
    .weekly-schedule {
        background-color: rgba(114, 1, 1, 0.78);
        padding: 2em;
        &__container {
            display: flex;
                justify-content: space-between;
        }
        h1, h2, h3, h4, h5, h6, p, a {
            color: $white;
            margin: 0;
        }
        h2 {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}
