@mixin button($primary-color, $secondary-color) {
    background-color: $primary-color;
    color: $secondary-color;
    border: .1em solid $primary-color;
    font-weight: 700;
    padding: .5em 2.5em;
    text-decoration: none;
    transition: .35s all ease-in-out;

    &:after {
        display: none;
    }

    &:focus,
    &:hover {
        background-color: transparent;
        color: $primary-color;
    }
}

.button {
    @include button($audubonRed, $white);

    &--white {
        @include button($white, $black);
    }

    &--red-bg {
        @include button($white, $black);
    }
}
