.weekly-schedule {
    background-color: rgba(145, 141, 141, .9);
    padding: 2em;
    &__container {
        display: flex;
            justify-content: space-between;
    }
    h1, h2, h3, h4, h5, h6, p, a {
        color: $white;
        margin: 0;
    }
    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
}
