.latest-sermon {
    margin-bottom: 0rem;
    padding: 2em 1em;
    position: relative;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $white;
        font-weight: 700;
    }

    .button {
        @extend .button--white-outline;
        padding: 1em;
    }

    h2 {
        text-align: center;
        font-weight: 400;
    }
    &:after {
        // background-image: linear-gradient(to bottom, white 50%, transparent);
        background-color: rgba(145, 141, 141, .9);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__image {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .blog-categories {
        a {
            border: .15em solid white;
            padding: .5em;
            display: inline-block;
            color: white;
            margin-bottom: 1rem;
            &:after {
                display: none;
            }
        }
    }
    .contain {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 1rem;
        }
        &__content {

        }
    }

}
