
.blog-post {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    margin: 0 auto;
    max-width: $primaryWidth;
    padding:3em 1em;
    
    &__container {
        max-width: $smallWidth;
        width: 100%;
        img {
            margin-bottom: 1rem;
        }
    }
}

.blog-post-meta {
    .the-author {
        display: flex;
            align-items: center;
            a {
                margin: 0;
                margin-left: .5rem;
                &:after {
                    display: none;
                }
            }
    }
}