.blog,
.single-post {
    .page-title {
        margin-bottom: 0em;
        padding-bottom: 0em;
        color: $black;
        font-weight: 400;
        padding-left: 0;
    }
    .page-wrapper {
        margin: 0 auto;
        max-width: $primaryWidth;
        padding: 1rem;
        .post {
            display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;
            width: 100%;
            h2 a {
                color: $black;
                font-weight: 400;
                padding-bottom: 0;
                &:after {
                    display: none;
                }
            }
            a {
                display: inline-block;
                margin-left: 0;
                text-align: left;
                text-decoration: none;
                width: auto;
                &:after {
                    background: $audubonRed;
                }
            }
        }
    }
}

.blog-post-meta {
    .the-author {
        display: flex;
            align-items: center;
            a {
                margin: 0;
                margin-left: .5rem;
                &:after {
                    display: none;
                }
            }
    }
}
//
// .post-navigation {
//     .newer {
//         border-top: 1px solid rgb(148,1,1);
//         border-right: 1px solid rgb(148,1,1);
//         display: inline-block;
//         height: 1em;
//         width: 1em;
//     }
//     .older {
//         border-top: 1px solid rgb(148,1,1);
//         border-right: 1px solid rgb(148,1,1);
//         display: inline-block;
//         height: 1em;
//         width: 1em;
//     }
// }
