/******************************************
General Styles
******************************************/
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    line-height: 1.25em;
}

img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-style: none;
}

iframe {
    max-width: 100%;
}

.alignright {
    margin-bottom: 1em;
    margin-left: 1em;
    float: right;
}

.alignleft {
    margin-bottom: 1em;
    margin-right: 1em;
    float: left;
}

.aligncenter {
    text-align: center;
}

li {
    margin: 0 auto;
    text-decoration: none;
}

ul {
    margin: 0 auto;
    margin-left: 2rem;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;

    li {
        padding-left: .5rem;
        line-height: 1.75rem;
    }
}


ol {
    margin: 0 auto;
    margin-left: 2rem;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;

    li {
        padding-left: .5rem;
        line-height: 1.75rem;
        list-style: decimal;
    }
}

a {
    color: $audubonRedLight;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    text-align: center;
    text-align: center;
    font-weight: 700;
    transition: .35s all ease-in-out;


    // &:after {
    //     background-color: $audubonRed;
    //     color: $white;
    //     content: '';
    //     display: block;
    //     height: .25em;
    //     margin-top: .25em;
    //     position: absolute;
    //     width: 100%;
    //     width: 100%;
    //     opacity: 1;
    //     transition: .35s all ease-in-out;

    // }

    &:focus,
    &:hover {
        color: $audubonRed;
        text-decoration: none;
        transition: .35s all ease-in-out;

        // &:after {
        //     margin-top: 1em;
        //     opacity: 0;
        //     transition: .35s all ease-in-out;
        // }
    }
}

#top-header,
.mejs-container {
    a:after {
        display: none;
    }
}


#main-content {
    overflow: hidden;
}

h2 {
    display: block;
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 2rem;
}

em {
    color: $audubonRed;
}

p {
    margin-top: 0rem;
    line-height: 1.75rem;
}

.callout-text--red {
    color: $audubonRedLight;
}

.red-text {
    color: $audubonRed;
}

p+br {
    // This style declaration removes injected br tag
    display: none;
}


.contain,
.contain-wide {
    margin: 0 auto;
}

.contain {
    max-width: $primaryWidth;
}

.contain-wide {
    max-width: $largeWidth;
}

.layout {
    margin: 2rem auto;
    padding: 0 1em;
    overflow: hidden;

    // p:last-child {
    //     margin-bottom: 0;
    // }
    :last-child {
        margin-bottom: 0rem;
    }
}

.assistive {
    font-size: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    opacity: 0;

    &.show-on-focus:focus {
        background-color: rgba($black, .98);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12em;
        max-width: 20em;
        padding: 0em 1em;

        width: 90%;
        z-index: 23123;
        opacity: 1;
        vertical-align: middle;
    }

    &:after {
        display: none;
    }
}

/******************************************
Heading Styles
******************************************/

.blog-title a {
    color: #333333;
}

.add-color {
    background: rgba(255, 102, 102, 1);
}

.menu-main-menu-container {
    margin: 0 auto;
}


.header-image {
    height: auto;
    max-height: calc(100vh - 90px);
    width: 100%;


    div.bg-image {
        height: 90vh !important;
        width: 100% !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

}

.background-overlay {
    position: relative;

    .inner-container .column {
        position: relative;

        &_primary-content {
            img {
                vertical-align: bottom;
            }
        }

        &:nth-of-type(odd) {

            h1,
            h2,
            h3,
            h4 {
                color: $white;
                margin: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
                width: 100%;
                z-index: 1;
                line-height: 1rem;
            }

            &:after {
                background: $blackOverlay;
                content: '';
                display: block;
                height: 101%;
                margin: 0 auto;
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                width: 100%;
                opacity: 0.5;
                transition: opacity .5s;
            }
        }

        &:nth-of-type(even) {

            h1,
            h2,
            h3,
            h4 {
                color: $white;
                margin: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                line-height: 1rem;
            }

            &:after {
                background: $blackOverlay;
                content: '';
                display: block;
                height: 101%;
                margin: 0 auto;
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                width: 100%;
                opacity: 0.5;
                transition: opacity .5s;
            }
        }

        &:hover {
            &:after {
                background: $audubonRed;
                opacity: 1;
                transition: opacity .5s;
            }
        }
    }
}

.page-title {
    color: $audubonRed;
    margin: 0 auto;
    max-width: $primaryWidth;
    padding: 2rem 0rem 0rem 1rem;
    font-weight: 700;
}

.site-content {

    &__container {
        margin: 0 auto;
        max-width: $primaryWidth;
    }
}


.logo-container {
    font-size: 0;
    text-align: center;

    .logo {
        display: inline-block;
        font-size: 16px;
        padding: 0rem 2rem;
        text-align: center;
        width: 30%;
        vertical-align: bottom;

        @include breakpoint(mobile-min) {
            width: 25%;
            vertical-align: middle;
        }

        @include breakpoint(medium-screen-min) {
            width: 18%;
        }
    }
}


.bg-dark {
    background-color: $audubonRed;
    color: $white;

    a {
        background-color: $audubonRed;
        color: $white;
    }
}